---
  const { name } = Astro.props;
---

<a
  href="mailto:email@example.com"
  class="text-center italic block w-full bg-primary px-6 pb-10 pt-10 font-bold leading-normal text-white xl:lg:text-4xl md:text-2xl mb-0 hover:bg-primary-focus">
  {name}
</a>
