---
  const { name } = Astro.props;
---

<a
  href="mailto:email@example.com"
  class="text-center italic mb-2 block w-full bg-primary px-6 pb-10 pt-10 text-xs font-bold leading-normal text-white text-4xl mb-0 hover:bg-primary-focus">
  {name}
</a>
