---
  const name = 'Carlos Gómez';
  const year = `${new Date().getFullYear()}`;
---

<div
  class="text-center mb-2 block w-full bg-primary px-6 pb-2 pt-2 text-xs font-normal leading-normal text-neutral-focus text-xs mb-0">
  Crafted with <i class="fa-solid fa-heart text-primary-focus"></i> | {name} © {year}
</div>
