---
const { id, klass, heroContentWidth } = Astro.props;
const contentWidth = heroContentWidth || 'max-w-md';
---

<div class:list={[klass]} class="hero bg-base-200" id={id}>
  <div class="hero-content text-center">
    <div class:list={[contentWidth]}>
      <slot />
    </div>
  </div>
</div>
